
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// my custom classes
@for $i from 1 through 10 {
  .margin-bottom-#{$i * 10} {
    margin-bottom: #{$i * 10}px;
  }
  .margin-top-#{$i * 10} {
    margin-top: #{$i * 10}px;
  }
  .margin-left-#{$i * 10} {
    margin-left: #{$i * 10}px;
  }
  .margin-right-#{$i * 10} {
    margin-right: #{$i * 10}px;
  }
  .padding-left-#{$i * 10} {
    padding-left: #{$i * 10}px;
  }
}